#!/bin/bash
# .env file for configuring image generation backend
set -a   # automatically export ALL variables below

IMAGE_BACKEND="freepik" # "deep-infra" or "stable-diffusion" or "nano-banana" or "flux" or "deep-infra"

FLUX_API_KEY="add-your-flux-api-key"
FLUX_MODEL=gpt-image-1           # also: gpt-image-1-mini, gpt-image-1.5, gpt-image-1.5-mini, dall-e-2, dall-e-3

NANO_BANANA_API_KEY=A"add-your-gemini-api-key"
NANO_BANANA_MODEL=gemini-2.5-flash-image

STABLE_DIFFUSION_PROVIDER="stability"  # or hf / a1111 / replicate
STABILITY_API_KEY="add-your-stable-diffusion-api-key"

DEEP_INFRA_API_KEY="add-your-deep-infra-api-key"

FREEPIK_API_KEY="add-your-freepik-api-key""
FREEPIK_WEB_HOOK_SECRET="add-your-freepik-webhook-secret" # optional for this demo

set +a   # stop auto-export
echo "All environment variables exported!"
